.Contact {
    padding: 2px;
}

.formControl {
    padding: 5px;
}

.formControl input {
    padding: 5px;
    min-width: 270px;
    border: none;
}

.formControl input:hover {
    border: 1px solid #eee;
}

.formControl input:hover {
    border: 2px solid #3044f5;
    transition-duration: 400ms;
    border-radius: 3px;
}

.formControl textarea {
    padding: 5px;
    min-width: 270px;
    height: 3.5rem;
    border: none;
}

.formControl textarea:hover {
    border: 2px solid #3044f5;
    transition-duration: 400ms;
    border-radius: 3px;
}

.formControl textarea:focus {
    border: 2px solid #1ef649;
    outline: none; /* حذف حلقه فوکِس مرورگر */
    box-shadow: none; /* برای حالت‌های پیش‌فرض بعضی مرورگرها */
    transition-duration: 300ms;
}

.Span {
    font-size: 12px;
    color: red;
    padding-left: 10px;
    padding-top: 0s;
}